{% extends 'index.html' %} {% block content %}
<div class="email-box">
    <div class="group-name">
      <h1 >{{groupName}}</h1>
    </div>
    <div class="messages" id="messages"></div>
    <div class="chat-control">
      <div class="control">
        <input
        type="text"
        rows="3"
        placeholder="Message"
        name="message"
        id="message"
        />
        <button class="message-button" type="button" name="send" id="send-btn" onClick="sendMessage()">
          Enviar mensagem
        </button>
      </div>
      <div class="control">
        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
        <form method=post enctype=multipart/form-data target="dummyframe">
          <input id="file" type=file name=file>
          <input class="file-button" onclick="sendFile()" type=submit value="Enviar arquivo">
        </form>
      </div>
      <form method="post" id="users"></form>
    </div>
</div>

<script type="text/javascript">
  var socketio = io('/chat/messages');

  const userData = {};
  const messages = document.getElementById("messages");
  const users = document.getElementById("users");

  const createMessage = (name, msg, isFile) => {
    date = new Date();

    const content = `
        <div class="message-line">
            <span class="message-content">
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="message-date">
                ${date.getHours().toLocaleString()}:${date
      .getMinutes()
      .toLocaleString()}
            </span>
        </div>
    `;

    const contentFile = `
         <div class="message-line">
            <span class="message-content">
                <strong>${name}</strong>: 
            </span>
            <a target="_blank" href="/downloads?fileName=${msg}">
              ${msg}
            </a>
            <span class="message-date">
                ${date.getHours().toLocaleString()}:${date
      .getMinutes()
      .toLocaleString()}
            </span>
        </div>
    `;

    console.log(contentFile);
    messages.innerHTML += isFile ? contentFile : content;
  };

  const createUser = (userName, userMail) => {
    const userData = `
      <p> ${userName} <button class="perfil-button" type="submit" name="profile" value="${userMail}"> Perfil </button> </p>`;
    users.innerHTML += userData;
  }

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: [message.value, false] });
    message.value = "";
  };

  const sendFile = () => {
    var message = document.getElementById("file");
    message = message.value.split("\\").at(-1).replace(" ", "_").replace("(", "").replace(")", "")

    if (message == "") return;
    console.log(message)
    socketio.emit("message", { data: [message, true] });
  };

  socketio.on("message", (data, isFile) => {
    console.log("aaa");
    createMessage(data.userName, data.message, data.isFile);
  });

  socketio.on("userUpdate", (userData) => {
    users.innerHTML = ``
    for (const key in userData){
        createUser(userData[key]["userName"], key)
    };
  })

  socketio.on("adminRequest", (data) => {
    userData.email = data.email;
    userData.group = data.group;
    messages.innerHTML += `<div id="conectionRequest">
  ${data.name} deseja entrar <button class="aceitar-btn" id="True" onClick="adminChoice(this)"> sim </button> <button class="recusar-btn" id="False" onClick="adminChoice(this)"> não </button>
    </div>`;
  })

  const adminChoice = (button) =>{
    const response = button.id;
    const email = userData.email;
    const group = userData.group;
    requestdiv = messages.children[messages.childElementCount - 1]
    const btn1 = requestdiv.children[0];
    const btn2 = requestdiv.children[1];
    console.log(btn1)
    console.log(btn2)
    btn1.disabled = true;
    btn2.disabled = true;
    
    socketio.emit("adminResponse", {response, email, group});
  }

</script>

{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.userName}}", "{{msg.message}}");
</script>
{% endfor %} {% endblock %}
