{% extends 'index.html' %} {% block content %}
<header>
  <div class="caixa">   
      <h1>Bem-Vindo</h1>
  </div>
</header>
<main>
  <h2 class="titulo-principal">Criar um novo grupo:</h2>
  <div>
    <form method="post" class="create-room-form">
      <label>Nome único do grupo:</label>
      <input
        type="text"
        placeholder="Escolha um nome de grupo"
        name="groupName"
        value="{{groupName}}"
        required
      />
      <button type="submit" name="create-group">Criar</button>
    </form>
    {% if error %}
    <ul>
      <li>{{error}}</li>
    </ul>
    {% endif %}
  </div>
  <h2 class="titulo-grupo">As salas disponíveis estão abaixo:</h2>
  <div class="groups" id="groups"></div>
</main>
{% endblock %}
