{% extends 'index.html' %} {% block content %}
<header>
  <div class="caixa">   
      <h1>Bem-Vindo</h1>
  </div>
</header>
<main>
  <h2 class="titulo-principal">Criar um novo grupo:</h2>
  <div>
    <form method="post" class="create-room-form">
      <label>Nome único do grupo:</label>
      <input
      type="text"
      placeholder="Escolha um nome de grupo"
      name="groupName"
      value="{{groupName}}"
      required
      />
      <button type="submit" name="create-group">Criar</button>
    </form>
    {% if error %}
    <ul>
      <li>{{error}}</li>
    </ul>
    {% endif %}
  </div>
  <h2 class="titulo-grupo">As salas disponíveis estão abaixo:</h2>
  <div class="groups" id="groups">
      {% for chat in chats %}
      <p>{{chat}} <button type="button" id="{{chat}}" onClick="sendRequest(this)">Entrar</button></p>
      {% endfor %}
  </div>
  <div id="groupResponse"> </div>
</main>

<script type="text/javascript">

  const socket = io("/chat/request");
  const message = document.getElementById("groupResponse")

  const sendRequest = (button) => {
    button.disabled = true;
    socket.emit("peerRequest", {"group": button.id})
  }

  socket.on("peerAction", (data) => {
    if (data.response == "False"){
      message.innerHTML = `Você não foi aceito(a) no grupo ${data.group}`;}
    else{
      window.location.href = data.url;
      
    }
  })

</script>


{% endblock %}
